@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: auto;
    padding: 0;
    max-width: 414px;

}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #3548F3;
    width: 414px;
    height: 100px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

}
figure{
    margin: 20px;
}
#Buscar{
    background-image: url("img/loupe.png") ;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position-y: 8px;
    background-position-x: 16px;
    display: center;
    width: 374px;
    height: 40px;
    margin-left: 20px;
    margin-top: 40px;
    border-color: rgba(0,0,0,0.2);
    border-radius: 100px;
}
::placeholder{
    font-size: 12px;
    color:black;
    padding: 49px;
}
.Extensão-Ensino{
    list-style-type: none;
}
li{
    display: inline-block;
}
a{
    color: black;
    text-decoration: none;
}
.Extensão{
    font-size: 14px;
    margin-top: 60px;
    margin-left: 49px;
    align-items: center;
    font-weight: 500;

}
.Extensãoletra{
    text-decoration: underline 2px;
    text-decoration-color: #3548F3;
    padding:20px;
    border-radius: 50%;
}
.Ensino{
    font-size: 12px;
}
main{
    border-color: rgba(0,0,0,0.2);
    border-radius: 100px;
    display: center;
}