@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: auto;
    padding: 0;
}
body{
    height: 1327px;
    width: 414px;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: #3548F3;
    width: 414px;
    height: 100px;

}
.sino{
    background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2));
    display: inline-block;
    border-radius: 10px;
    padding: 0.5em;
    position: relative;
    top: 30px;
    right: 354px;
    left: 20px;
}
.menu{
    background-image: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2));
    display: inline-block;
    border-radius: 10px;
    padding-top: 13px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    top: -15px;
    left: 354px;
    right: 20px;
}
#Buscar{
    background-image: url("img/loupe.png") ;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position-y: 8px;
    background-position-x: 16px;
    margin-left: 20px;
    margin-top: 40px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 55px;
    padding-right: 149px;
    border-color: rgba(0,0,0,0.2);
    border-radius: 100px;
}
::placeholder{
    font-size: 12px;
    color:black;
}
.Extensão-Ensino{
    list-style-type: none;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: black;
}
.Extensão{
    color: black;
    font-size: 14px;
    text-decoration: none;
    margin-top: 60px;
    margin-left: 49px;
}